@using TeamProject2_Part3.Models
@model Item

@{
    ViewBag.Title = Model.Title;
}

<h2>Details</h2>
<div id="item-details">
    <dl class="dl-horizontal">
        <dt>
            Name
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt>

        </dt>
        <dd>
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd>
            $@Html.DisplayFor(model => model.Price)
        </dd>
        <dt>

        </dt>
        <dd>
            <img src="@Html.DisplayFor(model => model.ItemLargeIconUrl)" class="img-rounded" height="400" width="600" />
        </dd>
        <dt>

        </dt>
        <dd style="padding-top: 6px">
            <p class="btn btn-success btn-lg">
                @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ItemId }, "")
            </p>
        </dd>
    </dl>
</div>

<p>
    @switch (Model.CategoryId)
    {
        case 1:
            @Html.ActionLink("Back to List", "Browse", new { category = "Soup" })
            break;
        case 2:
            @Html.ActionLink("Back to List", "Browse", new { category = "Appetizer" })
            break;
        case 3:
            @Html.ActionLink("Back to List", "Browse", new { category = "Entree" })
            break;
        case 4:
            @Html.ActionLink("Back to List", "Browse", new { category = "Dim Sum" })
            break;
        default:
            @Html.ActionLink("Back to List", "Browse", new { category = "Soup" })
            break;
    }
    
</p>
